<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ERR_SYSTEM,ERR_ARGUMENTS,ERR_AUTHENTICATION_FAILED</key>
	<string>Что-то пошло не так. Повторите попытку</string>
	<key>ERR_CARD_AMOUNT</key>
	<string>Указана неверная проверочная сумма. Введите сумму ещё раз и нажмите &quot;Привязать&quot;.</string>
</dict>
</plist>
