<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UseStubData</key>
	<false/>
	<key>UseStubUser</key>
	<false/>
	<key>UseStubBeacon</key>
	<true/>
	<key>UseStubLogin</key>
	<false/>
	<key>UseGPBAcquiring</key>
	<true/>
</dict>
</plist>
