<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>active</key>
	<array>
		<string>E2C56DB5-DFFB-48D2-B060-D0F5A71096E0</string>
		<string>F93C1AF8-FFB2-488A-A952-A250DB61DEC4</string>
	</array>
	<key>deprecated</key>
	<array/>
</dict>
</plist>
